#inputbox
{
    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width:500px;
    height:45px;
    color:black;
    margin:10px;
}

#search_button
{
    margin:10px;
    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width: 70px;;
    height:45px;
    color:black;
}

#content
{
    display:block;
    position: relative;
    width:600px;
}


#btn_acitve{
    width:100px;
    height: 50px;
    background-color:#212121;
    border-radius: 10px;
    border-color:black;
    color: white;
    padding:15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    font-size:15px;
    margin: 4px;
}
.button{
    position: relative;
    z-index: 2;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

#btn{
    width:100px;
    height: 50px;
    background-color:whitesmoke;
    border-radius: 10px;
    border-color:whitesmoke;
    color: black;
    padding:15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    font-size:15px;
    margin: 4px;

}


.component_checkbox{
    position: relative;
    width:630px;
    height:150px;
    background-color: white;
}

.price{
    position: relative;
    font-size: 30px;
    margin:20px;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.search{
    position:relative;
    float:left;
    width:1000px;
    height:50px;
    margin-left: 20px;
    margin-top: 20px;
}

.component_price{
    float:left;
    position: relative;
    width:600px;
    height:500px;
    margin:10px;
    background-color:white;
}

#data{
    position:relative;
}



#window{
    position: relative;
    z-index: 1;
    display:block;
    margin-top: 10px;
    background-color:white;
    width:630px;
    height: 1000px;
}


.title{
    margin:4px 4px 4px 4px;
    font-size:35px;
    font-family: 'SEBANG_Gothic_Bold';

}

#local_check{
    font-size: 30px;
    margin:20px;
    padding: 10px;
    background-color:whitesmoke;
    font-family: 'GangwonEduPowerExtraBoldA';
}




@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

